{
  "extends": "airbnb/base",
  "parserOptions": {
      "ecmaVersion": 6
  },
  "rules": {
      "func-names": ["error", "never"]
  },
  "env": {
      "browser": true,
      "node": true,
      "mocha": true,
      "es6": true
  }
}